.ui-widget,.ui-widget .ui-widget, .ui-widget-header {
	font-size: 90% !important;
}

.ui-menu {
	background: #A8D1F5 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,.ui-widget-header {
	background:-moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #A8D1F5 !important;
}

.actionButtons {
	height: 20px;
	margin: 1px;
	width: 20px;
}

.message_important.ui-tooltip {
	color: white;
	background-color: red; 
}

.tooltipUser.ui-tooltip {
	font-family: fantasy;
	background-color:#A8D1F5 !important;
	font-size: 4px;
}


/* IHM User */

.classDialogUser .ui-dialog-buttonpane {
	text-align: center !important;
}

.classFieldsetUser {
	margin: 0 0 8px;
}

.classFieldsetUser label {
	display: block;
	width: 85px;
}